---
layout: simple
---
.media
  .media-left.pull-left
    img src="/images/welcome.png" alt="Welcome from the Team"
  .media-body
    h3.media-heading 
      | Dear 
      a href = "http://plattenhof.ch/" Plattenhof 
      | and 
      a href = "http://townhouse.ch/" Townhouse
      |  guests 
    br
    | It is a pleasure to have you with us and we hope you feel at home in our hotels. 
      We also would like you to feel a little bit like a local in Zurich and therefore we try to point out some of our 
      favorite places in our town Zurich. 
    br
    |  We try to show you hidden cafés, fun restaurants, great galleries, hidden places and stores that you will not find in 
        every other city as well. We would love to welcome you at our restaurant Kantorei during your stay. 
       The Kantorei is a lively Brasserie with delicious regional dishes and is located in heart of the old town on Neumarkt one 
       of the most picturesque spot in Zurich. 
    br
    | Enjoy our wonderful city. 